[settings]
known_third_party = GPUtil,catboost,distutils,git,lightgbm,loguru,numpy,pandas,pydantic,pytest,setuptools,shap,six,sklearn,xgboost,yaml
line_length = 88
# https://github.com/psf/black/issues/127#issuecomment-520760380
multi_line_output=3
include_trailing_comma=True
