catboost==1.1
flake8==3.9.0
gputil==1.4.0
isort==4.3.21
kaggle==1.5.6
lightgbm==2.3.1
loguru==0.5.1
mlflow==1.20.1
mypy==0.910
numpy==1.18.5
pandas==1.4.3
pandas-profiling==2.9.0
pre-commit==2.2.0
protobuf==3.20.1
pydantic==1.8.2
pytest==5.3.5
pyyaml==5.4.1
scikit-learn==1.1.2
# scikit-optimize==0.7.4
scipy==1.6.2
shap==0.39.0
# pytorch-tabnet==3.1.1
termgraph==0.4.2
types-six==1.16.1
xgboost==1.5.2
